<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hongxin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jGrid/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/index.css" rel="stylesheet" />

    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/jGrid/js/i18n/grid.locale-cn.js"></script>
    <script src="~/Content/jGrid/js/jquery.jqGrid.js"></script>
</head>
<body>
    <div class="navbox">
        @RenderPage("~/Views/Shared/_Menu.cshtml")
    </div>
    <div class="partial-content">
        @RenderBody()
    </div>
</body>
</html>
