
<div class="nav">
    <ul>
        <li class="drop-menu-effect"><a href="#"><span>网站首页</span></a></li>
        <li class="drop-menu-effect"><a href="#"><span>明景产品</span></a></li>
        <li class="drop-menu-effect"><a href="#"><span>资讯中心</span></a></li>
        <li class="drop-menu-effect"><a href="#"><span>下载中心</span></a></li>
        <li class="drop-menu-effect"><a href="#"><span>企业概况</span></a></li>
        <li class="drop-menu-effect"><a href="#"><span>联系我们</span></a></li>
        <li class="drop-menu-effect"><a href="@Url.Action("Index", "Order")"><span>采购单管理</span></a></li>
    </ul>
</div>
