<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hongxin.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hongxin.Core.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=D:\WorkSpace\VS\Hongxin\Hongxin.Web\db\hongxin.db;</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>System.Data.SQLite</value>
            </setting>
        </Hongxin.Core.Properties.Settings>
    </userSettings>
</configuration>