@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/order.css" rel="stylesheet" />
<link href="~/Content/summernote/summernote.css" rel="stylesheet" />
<script src="~/Content/summernote/summernote.js"></script>
<script src="~/Content/summernote/lang/summernote-zh-CN.min.js"></script>
<div class="order-manager">
    <header>
        <h1>添加采购单</h1>
    </header>
    <form class="form-horizontal order-add">
        <div class="form-group">
            <label for="" class="control-label">采购单编号</label>
            <div class="control-value">
                @*<input type="text" name="orderNo" class="form-control" value="HW-172A1">*@
                <input type="text" name="orderNo" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">供应商</label>
            <div class="control-value">
                @*<input type="text" name="supplier" class="form-control" value="健祥">*@
                <input type="text" name="supplier" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">联系人</label>
            <div class="control-value">
                @*<input type="text" name="linkPerson" class="form-control" value="陈小姐">*@
                <input type="text" name="linkPerson" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">联系电话</label>
            <div class="control-value">
                @*<input type="text" name="phone" class="form-control" value="18925482905">*@
                <input type="text" name="phone" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">电话</label>
            <div class="control-value">
                @*<input type="text" name="tel" class="form-control" value="0769-2331416">*@
                <input type="text" name="tel" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">传真</label>
            <div class="control-value">
                @*<input type="text" name="fax" class="form-control" value="0769-83362507">*@
                <input type="text" name="fax" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">下单日期</label>
            <div class="control-value">
                @*<input type="date" name="orderData" class="form-control" value="2016-11-29">*@
                <input type="date" name="orderData" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">交货日期</label>
            <div class="control-value">
                @*<input type="date" name="deliveryDate" class="form-control" value="2016-12-26">*@
                <input type="date" name="deliveryDate" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">地址</label>
            <div class="control-value">
                @*<input type="text" name="remark" class="form-control" value="延后交货">*@
                <input type="text" name="address" class="form-control" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="control-label">备注</label>
            <div class="control-value">
                @*<input type="text" name="remark" class="form-control" value="延后交货">*@
                <input type="text" name="remark" class="form-control" value="">
            </div>
        </div>
        <div class="form-group form-group-fill">
            <header>
                添加子项
            </header>
            <table id="order-detail-table" class="table table-detail table-condensed table-bordered">
                <thead>
                    <tr>
                        <th width="42px">序号</th>
                        <th width="100px">品名</th>
                        <th width="200px">规格</th>
                        <th width="60px">单位</th>
                        <th width="100px">数量</th>
                        <th>备注</th>
                        <th width="42px">操作</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"></td>
                        <td><a href="javascript: void(0);" id="add-detail" style="font-size: 16px;display: block;margin-left: 8px;" title="添加"><i class="fa fa-plus-circle"></i></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="form-group form-group-fill">
            <label for="" class="control-label">详细内容</label>
            <div class="control-value">
                <textarea name="contract" class="summernote" id="contents" title="Contents"></textarea>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer-btns">
            <a href="/Order/Index" class="btn btn-default fa-img"><i class="fa fa fa-reply"></i>返回</a>
            <a href="javascript: void(0);" id="order-save" class="btn btn-success fa-img"><i class="fa fa-check-circle"></i>保存</a>
            
        </div>
        
    </form>

    <script type="text/javascript">
        $(function () {
            inits();
            function inits() {
                bindEvents();
            }
            $('.summernote').summernote({
                height: 200,
                lang: 'zh-CN'
            });

            $('form').on('submit', function (e) {
                e.preventDefault();
                alert($('.summernote').summernote('code'));
                //$('.summernote').summernote('code', 'value');//赋值
                alert($('.summernote').val());
            });

            function bindEvents() {
                $('#add-detail').on('click', function () { addDetail(); });
                $('#order-detail-table').on('click', '.del-detail', function () { delDetail($(this)); });
                $('#order-save').on('click', function () { submitForm();});
            }
        });

        function addDetail() {
            var $tbody = $('#order-detail-table tbody');
            var sortIndex = $tbody.find('tr').length + 1;
            var trHtml = '';
            trHtml = '<tr>' +
                        '<td>' + sortIndex + '</td>' +
                        '<td><input type="text" value="" placeholder="请输入..." /></td>' +
                        '<td><input type="text" value="" placeholder="请输入..." /></td>' +
                        '<td><input type="text" value="" placeholder="请输入..." /></td>' +
                        '<td><input type="text" value="" placeholder="请输入..." /></td>' +
                        '<td><input type="text" value="" placeholder="请输入..." /></td>' +
                        '<td><a href="javascript: void(0);" class="del-detail" style="font-size: 16px;display: block;margin-left: 8px;color: red;"><i class="fa fa-minus-circle"></i></a></td>' +
                    '</tr>';
            $tbody.append(trHtml);
        }

        function delDetail($this) {
            var $delTr = $this.parent().parent();
            $delTr.remove();
            sortDetail();
        }

        function sortDetail() {
            var $tbody = $('#order-detail-table tbody tr');
            $.each($tbody, function (i, item) {
                var sort = i + 1;
                var $sortTr = $(item).children('td:first-child');
                $sortTr.html(sort);
            });
        }

        function submitForm() {
            //订单主信息
            var orderNo = $('input[name=orderNo]').val();
            var supplier = $('input[name=supplier]').val();
            var linkPerson = $('input[name=linkPerson]').val();
            var phone = $('input[name=phone]').val();
            var tel = $('input[name=tel]').val();
            var fax = $('input[name=fax]').val();
            var orderDate = $('input[name=orderData]').val();
            var deliveryDate = $('input[name=deliveryDate]').val();
            var address = $('input[name=address]').val();
            var remark = $('input[name=remark]').val();
            var contract = $('.summernote').summernote('code');

            var order = {
                OrderNo: orderNo,
                Supplier: supplier,
                LinkPerson: linkPerson,
                Phone: phone,
                Tel: tel,
                Fax: fax,
                OrderDate: orderDate,
                DeliveryDate: deliveryDate,
                Address: address,
                Remark: remark,
                Contract: contract,
                Details: []
            };

            //订单明细信息
            var $details = $('#order-detail-table tbody tr');
            $.each($details, function (i, item) {
                var sortIndex = $(item).children('td:nth-child(1)').html();
                var name = $(item).children('td:nth-child(2)').children('input').val();
                var size = $(item).children('td:nth-child(3)').children('input').val();
                var unit = $(item).children('td:nth-child(4)').children('input').val();
                var total = $(item).children('td:nth-child(5)').children('input').val();
                var output = 0;
                var remark = $(item).children('td:nth-child(6)').children('input').val();
                var detail = {
                    SortIndex: sortIndex,
                    Name: name,
                    Size: size,
                    Unit: unit,
                    Total: total,
                    OutPut: output,
                    Remark: remark
                };
                order.Details.push(detail);
            });

            console.log('%o', order);
            var url = '/Order/AddPost';
            $.ajax({
                url: url,
                data: {
                    orderstr: JSON.stringify(order)
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.State == 1) {
                        window.location.href = '/Order/Index';
                    }
                }
            });
        }
    </script>
</div>

